<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu-aFYU4j113nqKbEQjmxCxrbpgamHkfM</string>
	<key>GCM_SENDER_ID</key>
	<string>815872512873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elmouaddibeExamen</string>
	<key>PROJECT_ID</key>
	<string>library-manage-mahi</string>
	<key>STORAGE_BUCKET</key>
	<string>library-manage-mahi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815872512873:ios:9a3fdb44d548a2f46663f8</string>
</dict>
</plist>